<div class="nested-fields">
    <div class="field">
        <span class="glyphicon glyphicon-earphone" />  
        <%= f.text_field :phone, class: "phone-field" %>
        <%= link_to_remove_association( 'X', f)%>
    </div>
</div>